/* strictement inférieur à 768px */

/* style */

.navbar-sd {
    display: none;
}

/* ACCUEIL */

header {
    padding-top: 50px;
}

header h1 {
    font-size: 2.5em;
}

.image_header img {
    width: 40%;
}

.actualites p {
    margin-left: 15px;
    margin-right: 15px;
}

.voter-mag-papier p {
    margin-left: 0 !important;
}

.reseaux-sociaux {
    margin-top: 0;
}

.cadre {
    width: 90%;
}

.presentation {
    height: 985px;
}

.presentation h1, h2 {
    font-size: 30px;
}

.presentation p {
    font-size: 1.1em;
}

footer p {
    font-size: 1.5em;
}

.bouton_contact {
    font-size: 2em;
}

/* MAGAZINES */

.dernier_numero {
    text-align: center;
}

.dernier_numero p {
    font-size: 1.2em;
}

.dernier_numero img {
    margin-left: -50px;
    width: 180%;
}

.couv-derniere-sortie {
    width: 45%;
}

.image-couv {
    text-align: center;
}

.image-couv img {
    width: 70%;
}

.cadre h1{
    font-size: 2.2em;
}

.magazines {
    height: 15000px;
}

hr {
    color: black;
    width: 80%;
}

/* MEMBRES */

.page-membres {
    height: 330px;
}

.header-bloc {
    width: 85%;
}

.image-nom {
    text-align: center;
}

#staff p {
    text-align: justify;
}

#auteurs p {
    text-align: justify;
}
.membres {
    width: 50%;
}

.modal-membres {
    width: 420px;
}

@media screen and (max-width: 400px) {

    /* ACCUEIL */
    header h1 {
        font-size: 2em;
    }

    .actualites h1 {
        margin-left: 25.3%;
        width: 53.3%;
    }

    .voter-mag-papier p {
        margin-left: 0 !important;
    }

    .btn-lg-voter {
        font-size: 2em;
    }

    .presentation {
        height: 1500px;
        background: none;
        background-color: #f69c00
    }

    .presentation h1,h2 {
        font-size: 1.5em;
    }

    /* MAGAZINES */

    .dernier_numero h1 {
        margin-left: -30.3%;
        width: 172.3%;
    }

    .dernier_numero img {
        width: 260%;
    }

    .couv-derniere-sortie {
        width: 75%;
    }

    .image-couv img {
        width: 100% !important;
    }

    .mangadraft img {
        width: 110%;
    }

    .mangadraft img:nth-child(2) {
        width: 40%;
        text-align: center;
    }

    .magazines {
        height: 15000px;
    }

    /* MEMBRES */

    .page-membres {
        height: 360px;
    }

    .modal-membres {
        width: 90%;
    }

    .img-presentation {
        width: 85%;
    }
}



