/* style */

	.navbar-sd {
		display: block;
	}

	.navbar-sm {
		display: none;
	}

.navbar-nav {
	float: none;
	margin: 0;
	margin-top: -25px;
}

	.navbar-nav li {
		float: none;
	}

	.index-lien {
		padding: 0 0 15px 0 !important;
	}

	.navbar-nav li a {
		padding: 15px 20px;
	}

	.navbar-nav > li > a {
		padding: 15px 20px;
	}

/* ACCUEIL */

	.presentation p {
		font-size: 1.3em;
	}

	.aside {
		padding: 35px;
	}

	.aside a {
		margin-top: 10px;
		font-size: 3.5em;
	}


/* ACCUEIL */

/* MAGAZINE */

header p {
		font-size: 1.5em;
	}

	header h1 {
		font-size: 3em;
	}

	.dernier_numero h1 {
		font-size: 1.5em;
	}

	.dernier_numero {
		font-size: 3em;
	}

	.description_numero {
		font-size: 1.5em;
	}

	.magazines p {
		font-size: 1.3em;
	}

	.flex-magazine h2{
		font-size: 2.5em;
	}

	.cadre {
		width: 80%;
	}

	.magazines {
		height: 9450px;
	}

	.numero-div {
		height: 575px;
	}