/* style */

.navbar-sd {
    display: none;
}

p {
    font-size: 1.4em;
}

/*.collapse {
    display: none !important;
}
*/

/* ACCUEIl */

.actualites p {
    font-size: 1.4em;
}

.cadre {
    width: 85%;
}

/* MAGS */